@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: italic;
  font-weight: 100;
  src: local("Poppins"), url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: local("Poppins"), url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"), url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

:root {
  --bg: #0a0924;
  --accent: #ff8a00;
}

body {
  background-color: var(--bg);
  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  margin: 0;
  min-height: 100dvh;
  text-rendering: geometricPrecision;
  width: 100dvw;
}

#__nuxt {
  height: 100dvh;
  overflow: auto;
  position: relative;
}

#threejs-container {
  position: fixed;
}
#threejs,
#threejs-container {
  height: 100dvh;
  inset: 0;
  width: 100dvw;
}
#threejs {
  position: relative;
}

ol li::marker,
ul li::marker {
  color: var(--accent);
  font-family: Poppins;
  font-size: 1.3rem;
}
ul li::marker {
  content: "ø ";
}